/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: #f0efef;
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
#container {
  width: 1200px;
  border: solid black thin;
}

header {
  width: 1198px;
  padding: 5px;
  background: #033048;
}

.headerTitle {
  display: inline-block;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 42px;
  font-weight: 800;
  color: #ffffff;
}

.firstNav {
  display: inline-block;
  padding: 20px;
  margin-left: 150px;
}

.topNav {
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
}

.headerNav {
  padding: 20px;
  color: #f9e42e;
  text-decoration: none;
}

section {
  width: 700px;
  float: left;
  margin-top: 40px;
  margin-left: 100px;
  border: solid red;
}


.articleTitle {
  font-size: 40px;
  font-weight: 600;
}

.bodyText {
  font-size: 24px;
  font-weight: 300;
}

aside {
  width: 240px;
  float: right;
  margin-top: 40px;
  margin-right: 100px;
  border: solid red;
}

.secondNav {
  color: #033048;
  font-size: 32px;
  font-weight: 800;
  padding: 5px;
}

.siderbarNav {
  color: #033048;
  font-size: 24px;
}

#sideNav {
  margin-top: 30px;
}

.sidebarTitle {
  color: #033048;
  font-size: 32px;
  font-weight: 800;
}

.sidebarText {
  color: #033048;
  font-size: 22px;  
}

.link {
  color: #033048;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
}

#button {
  clear: both;
  background: #f9e42e;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

button {
  background:#033048;
  color: #ffffff;
  font-weight: 600;
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 5px
}

footer {
  clear: both;
  background: #121212;
  text-align: center;
  padding: 30px;
}

.footerImg {
  padding: 30px;
}

#footerText {
  color: #f9e42e;
  padding: 10px;
}

#footerText2 {
  color: #ffffff;
  padding: 10px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/




